/* Variables */

:root{
    --purpura:#687FE5;
    --blanco:#f4f4f4;
    --azul:#0B1D51;
    --naranja:#EB5B00;
    --gris:#7A7A73;
}

/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=DynaPuff:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Etiquetas */
body{
    height: 100vh;
    width: 100vw;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}
input{
    width: 400px;
    height: 40px;
    border-radius: 22px 0px 0px 22px;
    font-family: "Jost", sans-serif;
    font-size: 1.1rem;
    padding-left: 2%;
    border: 2px solid var(--azul);
}
input:focus{
    outline: 1.5px solid var(--naranja);
}
/* Clases */

.container-principal{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.container-titulo{
    height: 35vh;
    width: 100%;
    padding: 30px 10px;
    background-color: var(--purpura);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-juego{
    height: 65vh;
    width: 100%;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}
.contenedor-texto-dinamico{
    width: 400px;
    word-break: break-word;
}
.container-botones-jugar{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.input-container{
    width: 35%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}
.titulo{
    font-family: "DynaPuff", system-ui;
    color:var(--blanco);
    font-weight: 800;
    font-size: 4.6rem;
}
.imagen-titulo{
    height: 500px;
    width: 500px;
}
.subtitulo{
    font-family: "Jost", sans-serif;
    font-weight: 800;
    font-size: 2.1rem;
    color: var(--purpura);
    margin-top: -40px;
}
.boton-a침adir{
    height:auto;
    width: 100px;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 0px 22px 22px 0px;
    background-color:var(--gris) ;
    color:var(--blanco);
    border: 1.5px solid var(--azul);
    cursor: pointer;
}
.boton-a침adir:hover{
    background-color: #5A5A53;
}
.boton-a침adir:active{
    transform: scale(0.98);
}
.boton-jugar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 280px;
    background-color: var(--naranja);
    border-radius: 25px;
    padding: 12px 35px;
    column-gap: 20px;
    cursor: pointer;
    transition: all 0.3s;
    border: 2px solid black;
}
.boton-jugar:hover{
    transform: scale(1.02);
    transition: transform 0.3s;
}
.boton-jugar > span{
    font-family: "Jost", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--blanco);
    transform: translateY(1px);
}
.img-play{
    height: 30px;
    width: 30px;
}
.boton-reiniciar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 150px;
    background-color: var(--naranja);
    border-radius: 25px;
    padding: 12px 5px;
    column-gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
    border: 2px solid black;
}
.boton-reiniciar > span{
    font-family: "Jost", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--blanco);
    transform: translateY(1px);
}
.boton-reiniciar:hover{
    transform: scale(1.02);
    transition: transform 0.3s;
}
button:disabled{
    background-color: var(--gris);
}
button:disabled:hover{
    transform: scale(1);
    cursor: not-allowed;
}
.img-restart{
    height: 32px;
    width: 32px;
}
/* Texto din치mico */

#texto-dinamico{
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    color: var(--gris);
    cursor: default;
}

/* Tarjeta ganador */

.nombre-ganador {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    width: 220px;
    height: 300px;
    font-family: "Jost", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--purpura);
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
  }
  
  .presentacion-ganador {
    top: 0;
    position: absolute;
    background-color: var(--blanco);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .nombre-ganador:hover .presentacion-ganador {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
  .nombre-ganador > p,.presentacion-ganador > p {
    font-size: 20px;
    font-weight: bolder;
  }
  .nombre-ganador.oculto{
    display: none;
  }
  .desenfoque{
    filter: blur(5px);
  }